
<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{priceCardData.Free}}</h5>
      <h6 class="card-price text-center">{{priceCardData.price}}<span class="period">/month</span></h6>
      <hr>
      <ul class="fa-ul">
        <li><i class="fa fa-check"></i>{{priceCardData.User}}</li>
        <li><i class="fa fa-check"></i>{{priceCardData.storage}}</li>
        <li><i class="fa fa-check"></i>{{priceCardData.publicprojects}}</li>
        <li><i class="fa fa-check"></i> {{priceCardData.Access}}</li>
        <li><i class="fa fa-check"></i>{{priceCardData.privateprojects}}</li>
        <li><i class="fa fa-check"></i>{{priceCardData.support}}</li>
        <li><i class="fa fa-check"></i>{{priceCardData.subdomain}}</li>
        <li><i class="fa fa-check"></i>{{priceCardData.reports}}</li>
      </ul> 
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">Button</a>
      </div>
       
    </div>
  </div>
 
 