
    <div class="card mb-5 mb-lg-0">
      <div class="card-body">
        <h5 class="card-title text-muted text-uppercase text-center">{{name}}</h5>
        <h6 class="card-price text-center">{{Amount}}<span class="period">/month</span></h6>
        <hr>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{User}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{Storage}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{PublicProjects}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span> {{Access}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{PrivateProjects}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{PhoneSupport}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{Subdomain}}
          </li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{ Reports}}
           </li>
        </ul>
        <div class="d-grid">
          <a href="#" class="btn btn-primary text-uppercase">Button</a>
        </div>
        
      </div>
    </div>
   
   